List of companies by profit

In [14]:
import requests
from bs4 import BeautifulSoup

url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page=requests.get(url)
soup=BeautifulSoup(page.text,'html')

In [28]:
tables=soup.find_all('table')[2]

In [32]:
table_head=table.find_all('th')
table_heading=[table.text.strip() for table in table_head]
print(table_heading)

['Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [36]:
import pandas as pd
df=pd.DataFrame(columns=table_heading)

In [38]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [52]:
table_rows=tables.find_all('tr')
for table_row in table_rows[1:]:
    table_datas=table_row.find_all('td')
    individual_data=[table_data.text.strip() for table_data in table_datas]
    length=len(df)
    df.loc[length]=individual_data

In [54]:
df

  Rank                Name                 Industry Profits(USD millions)
0    1               Apple              Electronics                96,995
1    2  Berkshire Hathaway             Conglomerate                96,223
2    3            Alphabet               Technology                73,795
3    4           Microsoft               Technology                72,361
4    5      JPMorgan Chase               Financials                49,552
5    6      Meta Platforms               Technology                39,098
6    7          ExxonMobil       Petroleum industry                36,010
7    8   Johnson & Johnson  Pharmaceutical industry                35,153
8    9              Amazon        Retail/Technology                30,425
9   10              Nvidia               Technology                29,760

In [56]:
df.to_csv(r'C:\Users\97798\Data\Day 19\List of companies by profit.csv',index=False)